.App {
    display: flex;
  }

  body {
    background: #ffffff;
    color: hsl(42, 39%, 6%);
    max-width: 400px;
    padding: 1rem;
    margin: auto
  }
  .new-item-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .new-item-form input {
    outline: none;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    color: hsl(0, 0%, 0%);
  }
  
  .new-item-form input:focus {
    border: 1px solid #f19737;
  }
  
  
  .form-row {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }
  .counter {
    padding-bottom: 15px;
  }
  
  .add-button {
    width: 80%;
    height: 45px;
    font-size: 1.3em;
    line-height: 45px;
    background-color: #eaf1f0;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
  }
  
  .add-button:hover {
    background-color: #dfe2e2;
  }
  
  
  .add-task-button:hover {
    background-color: #dee4e4;
  }
  
  .task-container {
    min-height: 30px;
    max-height: 600px;
    overflow: auto;
  }

  .task-container:hover {
    background-color: rgba(0, 119, 256, 0.014);
    transition: 0.2s;
  }
  
  .task {
    position: relative;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 18px;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
    border: 1px solid #ccc;
    outline: none;
    overflow: hidden;
  }
  .task[checked = true] {
    position: relative;
    background-color: #dfd8d8c3;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 18px;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
    border: 1px solid #dfd8d8c3;
    outline: none;
    overflow: hidden;
    text-decoration: line-through;
  }

  .task[checked = true] {
    background-color: rgba(0, 119, 256, 0.014);
    transition: 0.2s;
  }
  
  .task:hover {
    background-color: rgba(0, 119, 256, 0.014);
    transition: 0.2s;
  }
  
  .task-name {
    font-style: normal;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.1em;
  }
  
  .task-name::before {
    content: '●';
    font-style: normal;
    color: #f19737;
    margin-right: 10px;
  }
  
  
  .delete-button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    text-align: end;
    font-size: 3.5em;
    font-weight: 300;
    color: #888;
    line-height: 0.1em;
    transition: 0.5s;
  }
  
  .delete-button:hover {
    color: red;
    font-size: 6em;
    line-height: 0.01em;
    transition: 0.5s;
  }

  